<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node & Express JS</title>
    <style>
        h1{
            color: darkblue;
        }
        p{
            color: black;
            border: 3px solid black;
        }
    </style>
</head>
<body>
    <h2>Welcome to Node and express JS world</h2>
    <ul>
        <li>Apple</li>
        <li>Mongo</li>
        <li>Banana</li>
        <li>Orange</li>
        <li>Grapes</li>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Commodi maiores, modi quasi eius facere libero! Fuga ea magnam 
        dolorum perspiciatis aliquam iure recusandae temporibus dolore nostrum 
        at praesentium natus amet tempore voluptates quos ullam provident quis, 
        officia quo dicta sint, repellendus iste, nemo tempora! Explicabo sequi eaque 
        nobis quibusdam nam.</p>
</body>
</html>