<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dev</title>
</head>
<body>
    <h2>Hii, I am Dev [Alise] Vasu Dev</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore,
        ullam! Assumenda, accusamus maiores doloremque quasi praesentium nihil ducimus 
        accusantium, magni ipsam error porro quisquam nemo fugiat ipsum corporis? 
        Explicabo laboriosam repellat laborum culpa officiis perferendis unde quidem 
        eum nisi beatae consectetur veritatis saepe, harum quas earum placeat ipsa 
        cupiditate temporibus.</p>

        <form action="/api/logout">
            <button type="submit">Logout</button>
        </form>
</body>
</html>