<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vasu</title>
</head>
<body>
    <h2>Hii,  I am Vasu Dev</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, 
        nihil ut eius repellat non molestias autem voluptates. Impedit sequi ad 
        excepturi necessitatibus, similique magnam inventore ipsa, deleniti earum 
        autem sit voluptatibus, ea quia rem! Odio!</p>

        <form action="/api/logout">
            <button type="submit">Logout</button>
        </form>
</body>
</html>