<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welocome Page</title>
</head>
<body>
    
    <h2>Welocome to My Page </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, 
        sed eos eveniet dolor accusamus neque distinctio officiis cumque necessitatibus 
        ipsa. Accusamus consectetur amet voluptate iusto velit rem maiores, dolores vero 
        hic quos sint voluptatem rerum magnam deleniti esse doloribus minus, aperiam deserunt 
        quidem eum vitae corrupti. Odio culpa sint nisi!</p>
</body>
</html>